<div class="post_container">
    <div class="post" {{action viewPostDetails post}}>
        <span class="post_title">
            {{post.title}}
        </span><br />
        <span>&nbsp;&nbsp;&nbsp;Author: </span>{{post.author}}
    </div>

    <div class="details_container">
        {{#if post.detailsOpen}}
            <strong>Details:</strong> {{post.details}}
        {{/if}}
    </div>
</div>